tr {
    font-size: 9pt;
}

.card-body-scrollabe {
    overflow-y: auto;
    display: inline-flex;
}

.card-body-scrollabe>.event {
    max-width: 200px;
    padding: 0 10px;
    border-left: 1px solid #f1f1f1;
    height: 313px;
    overflow: auto;
}

.card-body-scrollabe>.event:nth-child(1) {
    border-left: 0;
}