<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 title-form-center">{{event ? 'Actualizar':'Crear Nuevo'}} Evento</h1>
</div>

<div class="row">
    <div class="col-lg-7 border-right">
        <div class="form">
            <form class="user" [formGroup]="forma">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span style="border-radius: 20px 0 0 20px;" class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" accept="image/*" id="imageUpload" (change)="changeImage($event.target.files[0])" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="imageUpload" style="text-align: left;color: #858796;">Subir Imagen</label>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control form-control-user" formControlName="program" style="font-size: 15px;border-radius: 10rem;padding: 0.5rem 1rem;">
                        <option value="" selected disabled>Programa</option>
                        <option *ngFor="let program of programs" value="{{program.id}}" >{{program.name}}</option>
                    </select>
                    <div *ngIf="forma.controls['program'].errors?.required && isFieldValid('program')" class="text-error-form">* El programa es requerido</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" placeholder="Titulo" formControlName="name">
                            <div *ngIf="forma.controls['name'].errors?.required && isFieldValid('name')" class="text-error-form">* El nombre es requerido</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" placeholder="Lugar" formControlName="place">
                            <div *ngIf="forma.controls['place'].errors?.required && isFieldValid('place')" class="text-error-form">* El lugar es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="datetime-local" class="form-control form-control-user" placeholder="Fecha de Inicio" formControlName="startDate">
                            <div *ngIf="forma.controls['startDate'].errors?.required && isFieldValid('startDate')" class="text-error-form">* La fecha de Inicio es requerida</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="datetime-local" class="form-control form-control-user" placeholder="Fecha Final" formControlName="endDate">
                            <div *ngIf="forma.controls['endDate'].errors?.required && isFieldValid('endDate')" class="text-error-form">* La fecha final es requerida</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <app-ngx-editor [spellcheck]="true" [config]="myOptionsText" placeholder="Descripción" formControlName="description"></app-ngx-editor>
                    <div *ngIf="forma.controls['description'].errors?.required && isFieldValid('description')" class="text-error-form">* La descripción es requerida</div>
                </div>


                <button class="btn btn-primary btn-user btn-block" [ngClass]="{'disabled': forma.invalid}" (click)="action()">{{event ? 'Actualizar':'Registrar'}}</button>
            </form>
        </div>
    </div>
    <div class="col-lg-5 text-center">
        <h5 class="h3 mb-0 text-gray-800 border-bottom text-left">Preview</h5>

        <div class="preview">
            <div *ngIf="!img && event" [ngStyle]="{'background-image': 'url('+event.image._url+')'}" style="background-repeat: no-repeat; background-size: cover" class="image-preview"></div>
            <div *ngIf="!img && !event" class="image-preview"></div>
            <div *ngIf="img && !event" class="image-preview" id="image-load"></div>
            <div class="date-preview">
                <span *ngIf="!forma.get('startDate').value && !forma.get('endDate').value">Este evento no tiene fechas</span>
                <span *ngIf="forma.get('startDate').value">{{forma.get('startDate').value | date:'medium'}}</span>
                <span *ngIf="forma.get('endDate').value"> - {{forma.get('endDate').value | date:'medium'}}</span>
            </div>
            <div class="title-preview">
                <span *ngIf="!forma.get('name').value">Evento sin titulo</span>
                <span *ngIf="forma.get('name').value">{{forma.get('name').value}}</span>
            </div>
            <div class="place-preview">
                <span *ngIf="!forma.get('place').value">No se ha difinido el lugar</span>
                <span *ngIf="forma.get('place').value">{{forma.get('place').value}}</span>
            </div>
            <div class="desc-preview">
                <span *ngIf="!forma.get('description').value">Evento sin descripción</span>
                <span *ngIf="forma.get('description').value" [innerHTML]="forma.get('description').value"></span>
            </div>
        </div>
    </div>
</div>