.custom-file-label::after {
    border-radius: 0 20px 20px 0;
}

.custom-file-label {
    border-radius: 0 20px 20px 0;
}

.form>form {
    max-width: 75%;
}

.ngx-editor-textarea {
    background: white;
    color: black;
}

.preview {
    background: white;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    margin-top: 15px;
    padding: 10px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.image-preview {
    height: 33%;
    background: #a7a4a4;
    border-radius: 10px;
}

.date-preview {
    text-align: left;
    margin-top: 10px;
    color: black;
    font-size: 8pt;
}

.place-preview {
    text-align: left;
    margin-top: 0;
    color: black;
    font-size: 6pt;
}

.title-preview {
    text-align: left;
    color: black;
    font-weight: 700;
    margin-top: 3px;
}

.desc-preview {
    font-size: 9pt;
    color: black;
    overflow: auto;
    height: 51%;
    text-align: left;
}