<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Eventos</h1>
    <button (click)="report()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Eventos registrados actualmente</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="btn btn-sm btn-primary text-white" [routerLink]="['/app/events/create']"><i class="fa fa-plus"></i> Nuevo
                          Evento</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                                  class="form-control form-control-sm" placeholder=""
                                  aria-controls="dataTable"></label></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 157px;">
                                        Nombre</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 200px;">
                                        Lugar</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 95px;">
                                        Fecha de inicio</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 95px;">
                                        Fecha fin</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 95px;">
                                        Aprobado</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 100px;">
                                        Acción</th>
                                </tr>
                            </thead>
                            <tfoot *ngIf="events.length >= 10">
                                <tr>
                                    <th rowspan="1" colspan="1">Nombre</th>
                                    <th rowspan="1" colspan="1">Lugar</th>
                                    <th rowspan="1" colspan="1">Fecha de Inicio</th>
                                    <th rowspan="1" colspan="1">Fecha Fin</th>
                                    <th rowspan="1" colspan="1">Aprobado</th>
                                    <th rowspan="1" colspan="1">Acción</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let event of events" role="row" class="odd">
                                    <td class="sorting_1">{{event.name}}</td>
                                    <td>{{event.place}}</td>
                                    <td>{{event.start_date| date}}</td>
                                    <td>{{event.end_date | date}}</td>
                                    <td><span *ngIf="event.approved">Si</span><span *ngIf="event.approved == false">No</span><span *ngIf="event.approved == undefined">En espera</span></td>
                                    <td>
                                        <a *ngIf="event.approved" class="btn btn-sm btn-primary text-white" [routerLink]="['/app/events/update/'+event.id]" title="Editar"><i class="fa fa-edit"></i></a>
                                        <button *ngIf="user_admin && event.approved == null" style="margin: 4px;" class="btn btn-sm btn-primary text-white" title="Aprobar" (click)="Approved(event.id)" type="button"><i class="fa fa-check"></i></button>
                                        <button *ngIf="user_admin && event.approved == null" style="margin: 4px;" class="btn btn-sm btn-primary text-white" title="Desaprobar" (click)="Disapprove(event.id)" type="button"><i i class="fa fa-times" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" *ngIf="pagination">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Mostrando {{pagination.skip + 1}} a {{events.length}} de {{pagination.count}} resultados</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous" [ngClass]="{'disabled': pagination.skip <= 1}" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a></li>
                                <li *ngFor="let page of pagination.pages" class="paginate_button page-item" [ngClass]="{'active': (pagination.current == 0 && page == 1) || pagination.current == page}" (click)="navigate(page)">
                                    <button aria-controls="dataTable" tabindex="0" class="page-link">{{page}}</button>
                                </li>
                                <li class="paginate_button page-item next" [ngClass]="{'disabled': pagination.pages.length <= 1}" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Siguiente</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>