<div id="wrapper">
    <sidebar></sidebar>
    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <topbar></topbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>