<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 title-form-center">{{user ? 'Actualizar':'Crear Nuevo'}} Usuario</h1>
</div>

<div class="form">
    <form class="user" [formGroup]="forma">
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-user" placeholder="Nombres" formControlName="firstName">
                <div *ngIf="forma.controls['firstName'].errors?.required && isFieldValid('firstName')" class="text-error-form">* Los nombres son requeridos</div>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" placeholder="Apellidos" formControlName="lastName">
                <div *ngIf="forma.controls['lastName'].errors?.required && isFieldValid('lastName')" class="text-error-form">* Los apellidos son requeridos</div>
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" placeholder="Correo electronico" formControlName="email">
            <div *ngIf="forma.controls['email'].errors?.required && isFieldValid('email')" class="text-error-form">* El correo es requerido</div>
            <div *ngIf="forma.controls['email'].errors?.email && isFieldValid('email')" class="text-error-form">* El correo es invalido</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="Dirección" formControlName="address">
            <div *ngIf="forma.controls['address'].errors?.required && isFieldValid('address')" class="text-error-form">* La dirección es requerida</div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <input type="tel" class="form-control form-control-user" placeholder="Telefono" formControlName="phone">
                <div *ngIf="forma.controls['phone'].errors?.required && isFieldValid('phone')" class="text-error-form">* El telefono es requerido</div>
            </div>
        </div>
        <label for="">Roles</label>
        <div class="col-sm-12 row">
            <div *ngFor="let rol of rols" class="form-check mr-2">
                <input class="form-check-input position-static" type="checkbox" id="{{rol.name}}{{rol.code}}" [value]="rol.code" (change)="onCheckChange($event)">
                <label class="ml-1" for="{{rol.name}}{{rol.code}}">{{rol.name}}</label>
            </div>
        </div>
        <div *ngIf="forma.controls['rols'].errors?.minLengthArray && isFieldValid('rols')" class="text-error-form">* Ingrese al menos un rol</div>
        <button class="btn btn-primary btn-user btn-block" [ngClass]="{'disabled': forma.invalid}" (click)="action()">{{user ? 'Actualizar':'Registrar'}}</button>
    </form>

</div>