<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="{'toggled': action_bar_min}" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/app/dashboard']">
        <div class="sidebar-brand-icon">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="/assets/img/uac_logo.png" height="50px" width="38px" alt="logo">
        </div>
        <div class="sidebar-brand-text mx-3">UAC EVENTS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/app/dashboard']">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Dahsboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li *ngFor="let item of nav_items" class="nav-item">
        <a class="nav-link collapsed" routerLink="{{item.url}}">
            <i class="fas fa-fw {{item.icon}}"></i>
            <span>{{item.name}}</span>
        </a>
    </li>

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Addons
    </div> -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" (click)="action_bar_min = !action_bar_min" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->