<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Instituciones</h1>
    <button (click)="report()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</button>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Instituciones registradas actualmente</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <a class="btn btn-sm btn-primary text-white" [routerLink]="['/app/institutions/create']">Nueva institucion</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 157px;">Nombre</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 257px;">Dirección</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 95px;">Fecha de creación</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 20px;">Opción</th>
                                </tr>
                            </thead>
                            <tfoot *ngIf="institutions.length >= 10">
                                <tr>
                                    <th rowspan="1" colspan="1">Nombre</th>
                                    <th rowspan="1" colspan="1">Dirección</th>
                                    <th rowspan="1" colspan="1">Fecha de creación</th>
                                    <th rowspan="1" colspan="1">Opción</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let ins of institutions" role="row" class="odd">
                                    <td class="sorting_1">{{ins.name}}</td>
                                    <td>{{ins.address}}</td>
                                    <td>{{ins.createdAt | date}}</td>
                                    <td><a class="btn btn-sm btn-primary text-white" [routerLink]="['/app/institutions/update/'+ins.id]"><i class="fa fa-edit"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" *ngIf="pagination">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Mostrando {{pagination.skip + 1}} a {{institutions.length}} de {{pagination.count}} resultados</div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous" [ngClass]="{'disabled': pagination.skip <= 1}" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a></li>
                                <li *ngFor="let page of pagination.pages" class="paginate_button page-item" [ngClass]="{'active': (pagination.current == 0 && page == 1) || pagination.current == page}" (click)="navigate(page)">
                                    <button aria-controls="dataTable" tabindex="0" class="page-link">{{page}}</button>
                                </li>
                                <li class="paginate_button page-item next" [ngClass]="{'disabled': pagination.pages.length <= 1 || pagination.current+2 > pagination.pages.length}" id="dataTable_next">
                                    <a (click)="navigate(pagination.current+2)" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Siguiente</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>