<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 title-form-center">{{institution ? 'Actualizar':'Crear Nueva'}} Institución</h1>
</div>

<div class="form">
    <form class="user" [formGroup]="forma">
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="Nombre" formControlName="name">
            <div *ngIf="forma.controls['name'].errors?.required && isFieldValid('name')" class="text-error-form">* El nombre es requerido</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="Dirección" formControlName="address">
            <div *ngIf="forma.controls['address'].errors?.required && isFieldValid('address')" class="text-error-form">* La dirección es requerida</div>
        </div>
        <button class="btn btn-primary btn-user btn-block" [ngClass]="{'disabled': forma.invalid}" (click)="action()">{{institution ? 'Actualizar':'Registrar'}}</button>
    </form>

</div>