<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 title-form-center">{{program ? 'Actualizar':'Crear Nuevo'}} Programa</h1>
</div>

<div class="form">
    <form class="user" [formGroup]="forma">
        <div class="form-group">
            <input type="text" class="form-control form-control-user" placeholder="Nombre" formControlName="name">
            <div *ngIf="forma.controls['name'].errors?.required && isFieldValid('name')" class="text-error-form">* El nombre es requerido</div>
        </div>
        <div class="form-group">
            <select class="form-control form-control-user" formControlName="faculty" style="font-size: 15px;border-radius: 10rem;padding: 0.5rem 1rem;">
            <option value="" selected disabled>Facultad</option>
            <option *ngFor="let faculty of faculties" value="{{faculty.id}}" >{{faculty.name}}</option>
        </select>
            <div *ngIf="forma.controls['faculty'].errors?.required && isFieldValid('faculty')" class="text-error-form">* La facultad es requerida</div>
        </div>
        <button class="btn btn-primary btn-user btn-block" [ngClass]="{'disabled': forma.invalid}" (click)="action()">{{program ? 'Actualizar':'Registrar'}}</button>
    </form>

</div>