<div class="modal fade" id="modalFaculty" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{faculty ? 'Actualizar':'Crear Nueva'}} Facultad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <form class="user" [formGroup]="forma">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" placeholder="Nombre" formControlName="name">
                            <div *ngIf="forma.controls['name'].errors?.required && isFieldValid('name')" class="text-error-form">* El nombre es requerido</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary btn-user btn-block" [ngClass]="{'disabled': forma.invalid}" (click)="action()">{{faculty ? 'Actualizar':'Registrar'}}</button>
            </div>
        </div>
    </div>
</div>