/* You can add global styles to this file, and also import other style files */

#toast-container>div {
    opacity: 1;
}

.dataTables_wrapper.dt-bootstrap4>.row {
    margin: 0 !important;
}

.form {
    width: 100%;
    text-align: -webkit-center;
}

.form>form {
    max-width: 50%;
    display: block;
}

.title-form-center {
    width: 100%;
    text-align: center;
}

.form-control>select {
    border: 0;
    width: 86%;
    text-align: center;
    position: absolute;
    left: 23px;
    color: #8d8f9d;
    top: 10px;
    height: calc(1.5em + .75rem + 2px);
}

.text-error-form {
    color: red;
    font-size: 8pt;
    text-align: left;
    margin-left: 7px;
}

.btn-primary {
    background-color: #de8e35;
    border-color: #d87200;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #d87200;
    border-color: #d87200;
    cursor: pointer;
}

.btn-primary.disabled {
    background-color: #d87300bc;
    border-color: #d87300bc;
    cursor: text;
}

.bg-gradient-primary {
    background-color: #7d7d7d;
    background-image: linear-gradient(180deg, #7d7d7d 10%, #444444 100%);
}

.text-primary {
    color: #de8e35!important;
}

.page-link:hover {
    color: #de8f35b2;
}

.page-link {
    color: #de8f35;
}

.page-item.active .page-link {
    background-color: #d87200;
    border-color: #d87200;
}